Assets/UnityVS.meta
Assets/UnityVS/Editor.meta
Assets/UnityVS/Editor/SyntaxTree.VisualStudio.Unity.Bridge.dll.meta
Assets/UnityVS/Editor/SyntaxTree.VisualStudio.Unity.Messaging.dll.meta
Assets/UnityVS/Editor/UnityVS.VersionSpecific.dll.meta
Library/UnityAssemblies/UnityEditor.xml
Library/UnityAssemblies/UnityEngine.xml
Library/UnityAssemblies/version.txt
Library/metadata/02/02fe78e962405814a83b8ba6c9471d32
Library/metadata/38/38d405c119fcc7c4e83d4a478a40ff2f
Library/metadata/4a/4ad02dc83da735c4e8d945332b9202f6
Library/metadata/6e/6e71a3e2fb5854e43823a9da25b68e21
Library/metadata/87/874cacad7983b1d4aa63e9ade380970e
Temp/UnityLockfile
Assets/sprite/Thumbs.db
Temp/UnityTempFile-5f0392b8b3135b04e8f432df0ecb97da
